@media print {
  .invocie-btn {
    display: none;
  }
  .sidebar-wrapper,
  .CanStar-app-header,
  .site-footer,
  .shadow-deep {
    @apply hidden;
  }
  .content-wrapper {
    @apply w-full ml-0;
  }
}
